@model MyVizCollections.Models.User

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            height: 100%;
        }

        html {
            height: 100%;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            padding: 0 225px;
        }

        #login-container {
            width: 300px;
            background-color: #375b91;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-family: 'Numans', sans-serif;
            font-size: 14px;
            color: white;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .control-label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn-primary {
            background-color: #FFC312;
            color: black;
            border: none;
            font-size: 15px;
            padding: 7px 7px;
        }

            .btn-primary:hover {
                background-color: white;
            }

        .text-danger {
            color: #dc3545;
        }

        #login-container img {
            width: 100px;
        }
    </style>
</head>
<body>

    <div class="container">

        <img src="~/images/Innovatus Logo.png" alt="Innovatus Logo" style="width:210px;">

        <div id="login-container">
            <h2 style="text-align: center;">MyVizCollections</h2>
            <h3 style="text-align: center;">Login</h3>

            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label" for="Username">Username</label>
                    <input class="form-control text-box single-line" id="Username" name="Username" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Password">Password</label>
                    <input class="form-control text-box single-line" id="Password" name="Password" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>


             

                <div class="form-group" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Login")'">Cancel</button>
                </div>
            }
        </div>

        <img src="~/images/CWLogo1.jpg" alt="CWLogo1" style="width:230px;">
    </div>

</body>
</html>

